---
import Back from "@/components/ui/Back.astro";
import BlogHeading from "@/components/ui/BlogHeading.astro";
import Button from "@/components/ui/Button.astro";
// import Heading from "@/components/Heading.astro";
import Spacer from "@/components/utils/Spacer.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <Spacer />
  <Back href="/" />
  <BlogHeading
    title={frontmatter.title}
    subtitle={frontmatter.description}
    colour="text-frost"
    index={frontmatter.id}
  />
  <Spacer />
  <div class="flex items-center gap-4 mb-10 text-frost">
    <p>{frontmatter.pubDate.slice(0, 10)}</p>
    <Button href={frontmatter.gitUrl} content="Github repo" blank />
    {
      frontmatter.preview && (
        <Button href={frontmatter.preview} content="Preview" blank />
      )
    }
  </div>

  <slot />
  <Spacer />
</BaseLayout>
