---
import type { HTMLAttributes } from "astro/types";
interface Props {
  index: number | string;
  title: string;
  subtitle?: string;
  colour?: HTMLAttributes<"div">["class:list"];
}
const { title, subtitle, colour, index } = Astro.props;
---

<div
  class="flex md:flex-row flex-col justify-between items-center gap-6"
  transition:name=`heading-${index}`
>
  <h1 transition:name=`blog-title-${index}`>{title}</h1>
  <div class={colour + ` p-6 md:w-[40%] dotted`}>
    <p class="text-justify" transition:name=`blog-desc-${index}`>
      {subtitle}
    </p>
  </div>
</div>
