---
import LinkArrow from "../utils/LinkArrow.astro";
interface Props {
  title: string;
  desc: string;
  href?: string;
  stack?: string[];
  wip?: boolean;
  index: number;
}

const { href, title, desc, wip, index } = Astro.props;
---

<li
  class="group project-card shadow-box p-2"
  transition:name=`project-${index}`
>
  <a class="text-white" href={href}>
    <div class="grow">
      <div class="flex">
        <h2 transition:name=`blog-title-${index}`>
          {title}
          <!-- {`blog-title-${index}`} ### DEBBUGING VIEW TRANSITIONS -->
        </h2>
        <div class="flex justify-end gap-2 w-full">
          {wip && <p>#WIP</p>}
          {!href && <p>#SOON</p>}
          {
            href && (
              <>
                <p class="group-hover:underline decoration-yellow-300">
                  PREVIEW
                </p>
                <LinkArrow height={24} width={24} />
              </>
            )
          }
        </div>
      </div>
      <p class="text-whisper" transition:name=`blog-desc-${index}`>
        {desc}
      </p>
    </div>
  </a>
</li>

<style>
  .project-card {
    @apply w-full hover:-translate-y-2 hover:translate-x-2 transition-all select-none cursor-pointer bg-night;
  }

  .project-card:hover {
    @apply outline outline-2;
  }

  .project-card:active {
    @apply -translate-y-1 translate-x-1;
  }

  .h2 {
    @apply whitespace-nowrap;
  }
</style>
